<div id="introWrapper" ng-if="!vm.introComplete;" ng-cloak>

<div class="container" style="padding-bottom:30px;"></div>

<div class="container slide jqslide" ng-if="!vm.exists">
    <div class="row">
        <div class="col invisible"></div>
        <div class="col-8 col-md-5 col-xl-5">
            <img class="img-fluid" style="border-radius: 10px;" src="./images/me.jpg">
        </div>
        <div class="col invisible"></div>
    </div>
</div>

<div class="container slide jqslide" style="padding-top:40px;" ng-if="vm.buttonClicked">
    <div class="row">
        <div class="col invisible"></div>
        <div class="col-7 col-md-4 col-xl-5 card">
                <div style="padding:10px;">Welcome to my website. Here you'll find a little more in-depth information about me and my projects that aren't limited to a single-page resume.</div>
        </div>
        <div class="col invisible"></div>
    </div>
</div>

<div class="container slide jqslide" style="padding-top:40px;" ng-if="!vm.buttonClicked">
    <div class="row">
        <div class="col invisible"></div>
        <div class="col-7 col-md-4 col-xl-5">
            <button ng-click="vm.click();" type="button" class="btn btn-primary btn-lg btn-block"><span class="slide">Hi There!</span></button>
        </div>
        <div class="col invisible"></div>
    </div>
</div>

<div class="container slide jqslide" style="padding-top:40px;" ng-if="vm.buttonClicked">
    <div class="row">
        <div class="col invisible"></div>
        <div class="col-7 col-md-4 col-xl-5">
            <button ng-click="vm.clickStart();" type="button" class="btn btn-success btn-block"><span class="slide">Let's Get Started!</span></button>
        </div>
        <div class="col invisible"></div>
    </div>
</div>

</div>